services:
  db:
    image: mariadb:lts
    container_name: mariadb
    command: --log-bin --binlog-format=ROW --binlog_row_image=FULL
    environment:
      - MYSQL_INITDB_SKIP_TZINFO=1
      - MARIADB_DATABASE=seichi_portal
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_USER=user
      - MARIADB_PASSWORD=password
      - MYSQL_TCP_PORT=3306
    ports:
      - "3306:3306"
    networks:
      - seichi_portal
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mariadb/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/create-debezium-user.sql:/docker-entrypoint-initdb.d/create-debezium-user.sql
    restart: always
  redis:
    image: redis/redis-stack:7.4.0-v3
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - seichi_portal
    restart: always
  meilisearch:
    # NOTE: meilisearch の公式 Docker イメージをそのまま使用すると、全文検索時に日本語の漢字と中国語の漢字が衝突するために検索できない場合があるため、
    # 中国語のトークン化が無効化された日本語用の Docker イメージを使用する
    # ref: https://github.com/meilisearch/meilisearch/pull/3882
    image: getmeili/meilisearch:prototype-japanese-13
    ports:
      - "7700:7700"
    environment:
      - MEILI_ENV=development
    networks:
      - seichi_portal
    volumes:
      - meili_data:/data.ms
    restart: always
  rabbitmq:
    image: rabbitmq:4.1.4-management-alpine
    container_name: rabbitmq
    environment:
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbitmq_management load_definitions "/etc/rabbitmq/definitions.json"
    volumes:
      - ./docker/rabbitmq_definitions.json:/etc/rabbitmq/definitions.json
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "ping" ]
      interval: 5s
      timeout: 30s
      retries: 3
    networks:
      - seichi_portal
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: always
  debezium:
    image: quay.io/debezium/server:3.4
    ports:
      - "8080:8080"
    volumes:
      - ./docker/debezium_conf:/debezium/config
    networks:
      - seichi_portal
    depends_on:
      rabbitmq:
        condition: service_healthy
    restart: always
networks:
  seichi_portal:
    name: seichi_portal
    external: false
volumes:
  mysql_data:
  meili_data:
