[workspace]
resolver = "2"
members = [
    "common",
    "domain",
    "entrypoint",
    "errors",
    "infra/outgoing",
    "infra/resource",
    "migration",
    "presentation",
    "types",
    "usecase",
]

[workspace.package]
version = "0.1.0"
edition = "2021"
publish = false

[workspace.dependencies]
tokio = { version = "1.42.0", features = ["full"] }
axum = "0.8.0"
axum-extra = { version = "0.10.0", features = ["typed-header"] }
serde = { version = "1.0.215", features = ["derive"] }
anyhow = "1.0.94"
async-trait = "0.1.83"
sea-orm = { version = "1.1.2", features = ["sqlx-mysql", "runtime-actix-rustls", "macros"] }
tracing = "0.1.41"
mockall = "0.13.1"
envy = "0.4.2"
once_cell = "1.20.2"
test-case = "3.3.1"
strum = "0.26.3"
strum_macros = "0.26.4"
proptest = "1.5.0"
proptest-derive = "0.5.0"
serde_json = "1.0.133"
itertools = "0.14.0"
chrono = { version = "0.4.38" }
futures = "0.3.31"
uuid = { version = "1.11.0", features = ["v4", "v7"] }
deriving_via = "2.0.0"
reqwest = { version = "0.12.9", default-features = false, features = ["rustls-tls", "json"] }
num-traits = "0.2.19"
regex = "1.11.1"
redis = { version = "0.28.0", features = ["tokio-comp", "json"] }
meilisearch-sdk = "0.27.1"
