name: Security Audit
on:
  schedule:
    # Runs every day at 00:00 UTC
    # https://crontab.guru/#0_0_*_*_*
    - cron: "0 0 * * *"
jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/audit@v1
        with:
          workingDirectory: ./server
